@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}

.open {
    text-align: center;
    font-size: 4em;
    padding-top: 5%;
}

.open .welcome {
    margin-bottom: 3%;
    margin-top: 3%;
    opacity: 0;
    animation: fadeIn 3s; 
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.open .quote {
    font-size: 0.5em; 
    margin-bottom: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards; 
}

.select_meal_phrase {
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    font-style: italic;
    margin-top: 2%;
    text-align: center;
    
}

.meal_list {
    display: flex; 
    justify-content: center;
}
.meal_list button{
    border: none; 
    border-radius: 20px;
    border-style: groove;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;    
    justify-content: center;
    margin-top: 10%;
    width: 250px;
}

.protein {
    opacity: 0; 
    animation: fadeIn 3s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.carbs {
    opacity: 0; 
    animation: fadeIn 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.fats {
    opacity: 0; 
    animation: fadeIn 3s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}

.meal_list button:hover {
    cursor: pointer;
    color: white;
    background: black;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo-head { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meals-head {
    display: flex; 
    align-items: center; 
    padding-right: 25px;
}

#footer {
    position: absolute;
    bottom: 0; 
    width: 100%; 
}

.footer-links {
    display: flex; 
    align-items: center; 
}

.profile-links {
    display: flex;
    align-items: center; 
}

.profile-links a {
    padding: 10px;  
}

.profile-links img {
    width: 30px;
    height: 30px; 
}

.logo-head:hover {
    cursor: pointer; 
}




